body {
  margin: 0;
}

.App {
  background-color: #aaa168b5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.login-card {
  width: 33rem;
  height: 17rem;
  text-align: center;
  background-color: rgba(78, 79, 142, 0.892);
  border: ridge;
  border-radius: 10%;
  color: #dace83b5;
}

input {
  width: 50%;
  height: 17px;
}

h1 {
  margin-bottom: 3%;
}

.trip-cards {
  display: flex;
  flex-direction: row;
  width: 87%;
  height: 400px;
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2);
  margin-top: 15px;
  background-color: rgba(245, 222, 179, 0.7);
}

.card-name {
  margin-left: 40px;
  margin-top: 15px;
  font-size: 40px;
  font-style: italic;
  font-family: Cambria;
  margin-bottom: 20%;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
}

.card-details {
  font-family: monospace;
}

h2 {
  margin-top: -10px;
}

.card-price {
  font-size: 30px;
  font-family: serif;
}

span {
  font-size: 18px;
}

.card-locale {
  font-size: 27px;
  font-family: 'Lucida Sans';
  text-align: center;
}

.rating {
  color: rgba(210, 183, 25, 0.804);
}

.navInfo {
  margin-left: 1340px;
  margin-top: 5px;
}

.accbtn {
  text-decoration: wavy;
  border: thin solid rgba(0, 0, 0, 0.441);
  background-color: rgba(255, 255, 255, 0.626);
  font-size: 17px;
  color: rgb(34, 36, 169);
  font-family: 'Segoe UI';
  border-right: 1px;
  border-bottom: 1px;
  padding-bottom: 1px;
}

.logout {
  margin-left: 62px;
  width: 90px;
  background-color: rgba(255, 255, 255, 0.626);
  font-size: 15px;
  color: rgb(34, 36, 169);
  font-family: 'Segoe UI';
  border: thin solid rgba(0, 0, 0, 0.441);
  border-right: 1px;
  border-bottom: 1px;
}