body {
  margin: 0;
}

.App {
  background-color: #aaa168b5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.login-card {
  width: 35rem;
  height: 15rem;
  text-align: center;
  background-color: rgba(78, 79, 142, 0.892);
  border: ridge;
  border-radius: 10%;
  color: #dace83b5;
}

